@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-void-black text-ghost-white overflow-x-hidden;
  }
  
  ::selection {
    @apply bg-ghost-white/20 text-ghost-white;
  }
}

@layer utilities {
  .bg-noise {
    background-image: 
      repeating-linear-gradient(45deg, transparent, transparent 2px, rgba(0,0,0,.05) 2px, rgba(0,0,0,.05) 4px),
      repeating-linear-gradient(-45deg, transparent, transparent 2px, rgba(255,255,255,.01) 2px, rgba(255,255,255,.01) 4px);
    animation: grain 12s steps(10) infinite;
  }
}

@keyframes grain {
  0%, 100% { transform: translate(0, 0); }
  10% { transform: translate(-2%, -5%); }
  20% { transform: translate(-8%, 3%); }
  30% { transform: translate(3%, -12%); }
  40% { transform: translate(-2%, 12%); }
  50% { transform: translate(-8%, 5%); }
  60% { transform: translate(8%, 0%); }
  70% { transform: translate(0%, 8%); }
  80% { transform: translate(1%, 15%); }
  90% { transform: translate(-5%, 5%); }
}
